<p id="notice"><%= notice %></p>

<p>
  <strong>Location name:</strong>
  <%= @store.location_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @store.province %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @store.postal_code %>
</p>

<p>
  <strong>Store Banner:</strong>
  <%= @store.store_banner.name %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
