<%= form_for(@price_observation) do |f| %>
  <% if @price_observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price_observation.errors.count, "error") %> prohibited this price_observation from being saved:</h2>

      <ul>
      <% @price_observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= f.label :item_id %>
    <%= f.collection_select(:item_id, Item.all, :id, :name, {}, {class: "form-control"})  %>
  </div>

  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.collection_select(:user_id, User.all, :id, :name, {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label :store_id %>
    <%= f.collection_select(:store_id, Store.all, :id, :display_name, {}, {class: "form-control"}) %>
  </div>


  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, class: "form-control", step: 0.01 %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
