<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :brand %>
    <%= f.text_field :brand, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :size %>
    <%= f.text_field :size, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_field :notes, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :upc %>
    <%= f.number_field :upc, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
