<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
    <h1>Listing Items</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Average $</th>
          <th>Min $</th>
          <th>Max $</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.size %></td>
            <td><%= item.average_price %></td>
            <td><%= item.minimum_price %></td>
            <td><%= item.maximum_price %></td>
            <td><%= link_to 'Show', item %></td>
            <td><%= link_to 'Edit', edit_item_path(item) %></td>
            <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
