<%= form_for(@store_banner) do |f| %>
  <% if @store_banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_banner.errors.count, "error") %> prohibited this store_banner from being saved:</h2>

      <ul>
      <% @store_banner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default"%>
  </div>
<% end %>
