<p id="notice"><%= notice %></p>

<h1>Listing Store Banners</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_banners.each do |store_banner| %>
      <tr>
        <td><%= store_banner.name %></td>
        <td><%= link_to 'Show', store_banner %></td>
        <td><%= link_to 'Edit', edit_store_banner_path(store_banner) %></td>
        <td><%= link_to 'Destroy', store_banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store banner', new_store_banner_path %>
